<app-navbar></app-navbar>
<br/>
<div class="container">
    <div class="card-body text-center">
        <h3 class="card-title">Bienvenido Usuario</h3>
        <br/>
        <h4 class="card-title">Usuarios</h4>
        <p class="card-text">Vista general de los Usuarios en el sistema.</p>
    </div>
    <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contraseña</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuarios">
                    <td>{{ user.id }}</td>
                    <td>{{ user.correo }}</td>
                    <td>{{ user.psw }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>


